Repository IronRiders/Constitution, changes with the owners that CODEOWNERS names for each.
All owners: @johnluetke, @IronRiders/mentors, @IronRiders/student-leaders

CODEOWNERS:

* @johnluetke
Bylaws.md @IronRiders/mentors @IronRiders/student-leaders
Member\ Expectations.md @IronRiders/mentors @IronRiders/student-leaders
Mentor\ Expectations.md @IronRiders/mentors @IronRiders/student-leaders

Update Bylaws.md
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Mentor Expectations.md
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Member Expectations.md
  Member Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Bylaws.md
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Create Leadership Expectations.md
  Leadership Expectations.md
Owners: @johnluetke

Create Volunteer Expectations.md
  Volunteer Expectations.md
Owners: @johnluetke

Formatting Changes to Mentor Expectations
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Formatting Changes to Member Expectations
  Member Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Formatting Changes to Bylaaw #7
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Apply suggestions from code review
  Bylaws.md
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Apply suggestions from code review
  Bylaws.md
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Mentor Expectations.md
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Bylaws.md
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Member Expectations.md
  Member Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Formatting Changes to Mentor Expectations
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Bylaws.md
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Formatting Changes to Bylaaw #7
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Formatting Changes to Member Expectations
  Member Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Member Expectations.md
  Member Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Article 4 to reflect Leadership changes implemented during Summer of 2025
  Constitution.md
Owners: @johnluetke

Update Bylaw 3 to reflect Leadership changes implemented during Summer of 2025
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Update Bylaw 4 to reflect Leadership changes implemented during Summer of 2025
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

feat: add Morality Lead role.
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

(fix) Formatting and structural errors; violations of markdown guide
  .vscode/settings.json
  Bylaws.md
  Constitution.md
  Member Expectations.md
  Mentor Expectations.md
Owners: @johnluetke, @IronRiders/mentors, @IronRiders/student-leaders

Delete settings.json
  .vscode/settings.json
Owners: @johnluetke

Fix formatting, spelling, and structural errors in markdown files (#32)
  Bylaws.md
  Constitution.md
  Member Expectations.md
  Mentor Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders, @johnluetke

Spelling mistake
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Standardized markdown list formatting
  Constitution.md
Owners: @johnluetke

added punctuation to editor's notes
  Leadership Expectations.md
  Volunteer Expectations.md
Owners: @johnluetke

Numbered ol's in code
  Bylaws.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders

Fixed punctuation, clarified links, numbered ol's in code, etc...
  Bylaws.md
  Constitution.md
  Leadership Expectations.md
  Member Expectations.md
  Mentor Expectations.md
  Volunteer Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders, @johnluetke

Delete .vscode/settings.json
  .vscode/settings.json
Owners: @johnluetke

More formatting, spelling, and punctuation errors (as well as some link clarity) (#34)
  Bylaws.md
  Constitution.md
  Leadership Expectations.md
  Member Expectations.md
  Mentor Expectations.md
  Volunteer Expectations.md
Owners: @IronRiders/mentors, @IronRiders/student-leaders, @johnluetke
